@tailwind base;
@tailwind components;
@tailwind utilities;
/* Width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(15 23 42); /* Darker background for the track */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71 85 105 / 0.6); /* Dark gray handle */
  border-radius: 5px;
}
