@tailwind base;
@tailwind components;
@tailwind utilities;
/* Width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #585454; /* Darker background for the track */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3751f99c; /* Dark gray handle */
  border-radius: 5px;
}
